p.tnr{
    font-family: 'Times New Roman', Times, serif;
    font-size: 5px;
    text-decoration: black;
    font-weight: 500;
    border: 3px;
    border-color: blue;
}
h1{
    color: blue;
    border: solid 3px;
}
#especial{
    letter-spacing: 3px;
    word-spacing: 8px;
    text-indent: 10px;
    border-top-style: hidden;
    border-right-style: ridge;
    border-bottom-style: inset;
    border-left-style: solid;
    background-color: aqua;
}
h3.h3esp{
    text-align: right;
    weight: 30%;
}
p.pesp{
    weight: 500px;
    background-color: yellow;

}